.nav-item{
    font-weight: bold;
}

.navbar .container img{
width: 40px;
list-style:50px;
}

header .navbar{
    height: 50px;

}
header{
    
    z-index: 999;
}

.header.navbar{
    z-index: 999;
}

.pt{
margin-top: 40px;
margin-bottom: 50px;


}

.bg{
    background-color: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    height: 90;
}

